//----------------------------------------------------
// Common
//----------------------------------------------------
$font-family-base: 'Yomogi', 'Helvetica', 'Arial', 'sans-serif';
$font-size-base: min(16px, calc(16 / 1100 * 100vw));
$line-height-base: 1.428571429;
$main-color: #707070;
$white-color: #ffffff;
$white-bg: #ffffff;
$main-bg: #F8F5F2;

// ヘッダー幅の計算
:root {
  --left-area-width: calc(300 / 1400 * 100vw);
}
// ブレイクポイント
$breakpoint: 768px;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $main-color;
  background-color: $main-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  line-height: 1.8;
}

.pc-block {
  display: block;
  @media screen and (max-width: $breakpoint) {
    display: none!important;
  }
}
.sp-block {
  display: none;
  @media screen and (max-width: $breakpoint) {
    display: block!important;
  }
}

#wrapper {
  position: relative;
  min-height: 100vh;
  .site-wrap {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    .site_left-area {
      position: fixed;
      max-width: 300px;
      width: var(--left-area-width);
      height: 100vh;
      background-color: $white-bg;
    }
    .site_right-area {
      min-height: 100vh;
      scroll-margin-top: 0;
      flex: 1;
      width: calc(100% - min(300px, var(--left-area-width)));
      margin-left: min(300px, var(--left-area-width));
      background-color: $main-bg;
      overflow-y: auto;
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .top_btn {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 150px;
        width: calc( 150 / 1400 * 100vw );
        max-height: 150px;
        height: calc( 150 / 1400 * 100vw );
        transition: .3s ease all;
        &:hover {
          bottom: 5px;
          transition: .3s ease all;
        }
      }
    } // end site_right-area
  } // end site-wrap
}