//----------------------------------------------------
// Common
//----------------------------------------------------
$font-family-base: 'Yomogi', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.428571429;
$text-color: #707070;
$body-bg: #ffffff;
$main-bg: #F8F5F2;

// ヘッダー幅の計算
:root {
  --left-area-width: calc(300 / 1400 * 100vw);
}
// ブレイクポイント
$breakpoint: 768px;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  line-height: 1.8;
}

.pc-block {
  display: block;
  @media screen and (max-width: $breakpoint) {
    display: none!important;
  }
}
.sp-block {
  display: none;
  @media screen and (max-width: $breakpoint) {
    display: block!important;
  }
}

#wrapper {
  position: relative;
  min-height: 100vh;
  .site-wrap {
    display: flex;
    flex-direction: row;
    height: 100vh;
    .site_left-area {
      position: fixed;
      max-width: 300px;
      width: var(--left-area-width);
      height: 100vh;
    }
    .site_right-area {
      flex: 1;
      width: calc(100% - min(300px, var(--left-area-width)));
      margin-left: min(300px, var(--left-area-width));
      background-color: $main-bg;
      height: 100vh;
      overflow-y: auto;
    }
  }
}